<ion-header>
  <ion-toolbar color="primary">

    <ion-title  class="ion-no-padding">{{loadRecipe.title}}</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/Recipes"></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="primary">
          <ion-button (click)="onDelete()">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img class="ion-no-padding" [src]="loadRecipe.imageUrl"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1 text-center>{{loadRecipe.title}}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let recipe of loadRecipe.ingredients" >

            <ion-label>{{recipe}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
